// Colors
$white: #fff;
$black: #000;
$off-white: #f7f7f7;
$graphite: #333;
$grey: #dedede;
$grey-dark: #bbb;
$green: #2ecc71;
$red: red;
$orange: #c0392b;
$orange-dark: #e74c3c;
$lilac: #9c88ff;
$purple: rebeccapurple;

// Everything Else
$box-shadow: 0 1px 3px rgba( $black, 0.12 ), 0 1px 2px rgba( $black, 0.24 );

$base-transition: 0.2s ease;
